/* Color */
// $dblue: #202c54;
// $yellow: #f2a91c;
// $grey: #959595;
// $lgrey: #f5f5f5;
// $black: #22262e;
$grey7: #737373;
$greyd: #d2d5dd;
$greyf: #f8f9fa;
$dgreen: #28b446;
$green: #2ad94f;
$blue: #005dff;

$font-heading: "Poppins", sans-serif;
$font-basic: "Roboto", sans-serif;

/* Size */
$xxxs: 360px;
$xxs: 400px;
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1280px;
$xxxl: 1400px;
$huge: 1600px;
$xhuge: 1800px;
$xxhuge: 2000px;
